.m_main {
  /*内容*/
  /*分页*/
  /*分页*/
}
.m_main a {
  height: 3.42666667rem;
  width: 10rem;
  padding-left: 2.93333333rem;
  padding-right: 0.4rem;
  padding-top: 0.37333333rem;
  position: relative;
}
.m_main a img {
  width: 2.66666667rem;
  height: 2.66666667rem;
  position: absolute;
  top: 0.37333333rem;
  left: 0.13333333rem;
}
.m_main a .caption {
  line-height: 0.50666667rem;
  font-size: 0.37333333rem;
}
.m_main a .caption span {
  color: #ff841d;
}
.m_main a .from {
  width: 6.66666667rem;
  position: absolute;
  bottom: 0.85333333rem;
  left: 2.93333333rem;
  color: #aeacae;
  font-size: 0.29333333rem;
}
.m_main a .from .comments {
  float: right;
}
.m_main .Pagination {
  height: 1.22666667rem;
  width: 100%;
  padding: 0.26666667rem 0.22666667rem 0;
  position: relative;
}
.m_main .Pagination button {
  width: 2.18666667rem;
  height: 0.93333333rem;
  font-size: 0.34666667rem;
  border-radius: 0.13333333rem;
  border: none;
}
.m_main .Pagination .page {
  width: 2.05333333rem;
  height: 0.93333333rem;
  border: 2px solid #c9c9c9;
  position: absolute;
  top: 0.26666667rem;
  left: 4.26666667rem;
  padding-right: 0.48rem;
}
.m_main .Pagination .page span {
  display: block;
  width: 1.53333333rem;
  height: 0.88rem;
  font-size: 0.34666667rem;
  text-align: center;
  line-height: 0.88rem;
}
.m_main .Pagination .page i {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.48rem;
  height: 0.88rem;
  text-align: center;
  font-size: 0.34666667rem;
  line-height: 0.88rem;
  border-left: 2px solid #c9c9c9;
}
